#cont{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#box{
    display: flex;
    flex-flow: row wrap;
    height: 20px;
    width: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

#box_full{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    height: 20px;
    width: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

#buttonlol{
    size: 100px;
    border-style: solid;
    border-radius: 1px;
}
