<ion-header>
  <ion-navbar>
    <ion-title>
      Grid Anarchy
    </ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div id="cont">
    <div id="item" *ngFor="let x of grid; index as i">
        <div id="box"       *ngIf="x == 0" (click)="clicked(i, 0)"></div>
        <div id="box_full"  *ngIf="x == 1" (click)="clicked(i, 1)"></div>
    </div>  
  </div>

  <ion-toggle [(ngModel)]="online_toggle" (ionChange)="toggled()" id="online_toggle">ses</ion-toggle>
  <a id="clear_text" (click)="clear()" *ngIf="online_toggle == true" href="#">clear</a>
  

</ion-content>
